@model SkyHigh.Models.Routes.RoutesInputModel

<hr />

<div class="card mb-3">
    <div class="card-header text-white bg-info font-weight-bold">
        <i class="fa fa-plane"></i>&nbsp; Please choose your departing flight
    </div>
    <div class="card-body">
        @*<div><span asp-validation-for="InboundRouteIds" class="text-danger"></span></div>*@

        <span class="text-danger field-validation-valid" data-valmsg-for="InboundRouteIds" data-valmsg-replace="true"></span>
        <table class="table table-hover table-vertical-align">
            <tbody>
                @foreach (var route in Model.InboundRoutes)
                {
                    <tr class="align-middle">
                        <td class="text-center">
                            <input type="radio" name="InboundRouteIds" value="@route.Id">
                        </td>
                        <td class="font-weight-bold">@route.StartTime.ToString("hh\\:mm") - @route.EndTime.ToString("hh\\:mm")</td>
                        <td>@route.Duration</td>
                        <td>
                            @if (route.Flights.Count() == 1)
                            {
                                <span class="text-success">No Stops</span>
                            }
                            else
                            {
                                @($"{route.Flights.Count() - 1} Stop(s)")
                            }
                        </td>
                        <td>
                            @foreach (var flight in route.Flights)
                            {
                                <div>@flight.SourceAirportIcaoCode - @flight.DestinationAirportIcaoCode</div>
                            }
                        </td>
                        <td>
                            @foreach (var flight in route.Flights)
                            {
                                <div>@flight.ReferenceNumber</div>
                            }
                        </td>

                        <td><a href="">Details</a></td>

                        <td>
                            <span class="badge badge-info" style="font-size:100%">@route.Price EUR</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header text-white bg-info font-weight-bold">
        <i class="fa fa-plane fa-rotate-90"></i>&nbsp; Please choose your returnung flight
    </div>
    <div class="card-body">
        <div><span asp-validation-for="OutboundRouteIds" class="text-danger"></span></div>
        <table class="table table-hover table-vertical-align">
            <tbody>
                @foreach (var route in Model.OutboundRoutes)
                {
                    <tr class="align-middle">
                        <td class="text-center">
                            <input asp-for="OutboundRouteIds" type="radio" value="@route.Id">
                        </td>
                        <td class="font-weight-bold">@route.StartTime.ToString("hh\\:mm") - @route.EndTime.ToString("hh\\:mm")</td>
                        <td>@route.Duration</td>
                        <td>
                            @if (route.Flights.Count() == 1)
                            {
                                <span class="text-success">No Stops</span>
                            }
                            else
                            {
                                @($"{route.Flights.Count() - 1} Stop(s)")
                            }
                        </td>
                        <td>
                            @foreach (var flight in route.Flights)
                            {
                                <div>@flight.SourceAirportIcaoCode - @flight.DestinationAirportIcaoCode</div>
                            }
                        </td>
                        <td>
                            @foreach (var flight in route.Flights)
                            {
                                <div>@flight.ReferenceNumber</div>
                            }
                        </td>

                        <td><a href="">Details</a></td>

                        <td>
                            <span class="badge badge-info" style="font-size:100%">@route.Price EUR</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

